/* colors */
$black: #000;
$white: #fff;
$grey-1: #F9F9F9;
$grey-2: #F1F1F1;
$grey-3: #E5E5E5;
$brown-1: #D7D7D7;
$brown-2: #CECECE;
$brown-3: #B2B2B2;
$brown-4: #616161;
$red-1: #EA4335;
$red-2: #F85244;
$green-1: #70A83B;
$green-2: #578A7D;
$green-3: #659C8E;
$yellow-1: #EF9A2C;
$yellow-2: #DB9600;
$blue-1: #2D96CD;
$blue-2: #1B5C98;
$blue-3: #154272;
$blue-4: #1B394E;
$blue-5: #476E97;
$blue-6: #1E4E80;
$orange-1: #FF5700;
$orange-2: #FF742C;