.card-new{
    padding: 0 30px 20px 30px;
    border: solid 1px $grey-2;
    .btn{
        font-size: 12px;
    }
    .btn-wrapper{
        a.btn{
            flex-grow: 0;
        }
    }
    .img-wrapper{
        position: relative;
        .splash{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.3, 0.3);
            opacity: 0;
            z-index: -1;
            transition: all 0.3s ease;
        }
    }
    &:hover{
        .splash{
            transform: translate(-50%, -50%) scale(1, 1);
            opacity: 1;
        }
    }
}