.direct-sales-categories{
    position: relative;
    border-top: solid 1px $grey-3;
    border-bottom: solid 1px $grey-3;
    .category-tabs{
        .swiper-tabs-direct{
            margin-bottom: -1px;
            border-left: solid 1px $grey-3;
        }
        .my-tabs{
            background-color: transparent;
            width: 100%;
            height: 100px;
            color: $blue-1;
            border-right: solid 1px $grey-3;
            border-bottom: solid 3px transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 14px;
            padding: 0 15px;
            i{
                font-size: 44px;
            }
            &:hover{
                opacity: 0.7;
            }
            &.active{
                color: $blue-4;
                border-bottom-color: $blue-4;
            }
        }
        @media screen and (max-width: 992px){
            .swiper-tabs-direct,
            .my-tabs{
                border-left: none;
                border-right: none;
                padding: 0 5px;
                font-size: 12px;
            }
            padding: 0 25px;
            .btn-car-tabs-next{right: 10px;}
            .btn-car-tabs-prev{left: 10px;}
        }
    }    
}

.direct-sales-tab-content{    
    @media screen and (max-width: 992px){
        padding-top: 0;
        .image{
            padding: 0;
            margin-bottom: 20px;
        }
    }
}