.footer-logos{
    padding: 65px 15px;
    background-color: #0F131F;
    @media screen and (max-width: 1050px){
        .align-logos div{max-width: 180px;}
    }
    @media screen and (max-width: 770px){
        padding: 40px 30px 0 30px;
        .align-logos{
            justify-content: center !important;
            div{margin-bottom: 40px;}
        }
    }
}
.footer{
    padding: 30px 15px;
    .social-icons{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social-item{
        margin: 0 10px;
        display: inline-flex;
        &:hover{
            filter: brightness(2)
        }
    }
}