.main-form{
    .form-group{
        position: relative;
        margin-bottom: 30px;
        &.text-area{
            label{
                top: 18px;
                transform: translate(0,0);
            }
        }
        label{
            margin: 0;
            position: absolute;
            font-size: 16px;
            transition: all 0.3s ease;
            left: 10px;
            top: 50%;
            transform: translate(0, -50%);
            line-height: 1;
            cursor: text;
            &.required:after{
                content: '*';
                color: $ruby-dragon;
            }
            &.active{
                transform: translate(0, 0);
                top: 10px;;
                font-size: 12px;
            }
        }
        .form-control{
            padding: 15px 10px 0 10px;
            border-radius: 0;
            border: solid 1px $night-grey;
            font-size: 16px;
            color: $white;
            background-color: transparent;
            height: 55px;
            &:focus{
                background-color: rgba(71, 79, 102, 0.2);
            }
        }
        textarea.form-control{
            resize: none;
            height: 120px;
            padding-top: 22px;
        }
        .invalid-feedback{
            display: block;
            position: absolute;
            bottom: -17px;
            margin: 0;
            font-size: 12px;
        } 
    }
    .btn-submit-wrapper{
        text-align: center;
    }
    &.newsLetter-form{
        .form-group{
            margin-right: -1px;
            .form-control{
                border-right: none;
                height: 56px;
            }
        }        
        .btn{
            height: 56px;
            @media screen and (max-width: 1050px){
                height: 56px;
                font-size: 18px;
                padding: 0 20px;
            }
        }
    }
}
.form-control.is-invalid, .form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{
    border-color: $ruby-dragon;
    box-shadow: none;
}
.custom-select{
    background-size: 14px;
    background-position: right 5px center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="%237A8299"  version="1.1" id="Camada_1" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><path d="M15.6,21.2L15.6,21.2c-0.3,0.3-0.9,0.3-1.2,0L3.3,10c-0.3-0.3-0.3-0.9,0-1.2c0.3-0.3,0.9-0.3,1.2,0L15,19.4L25.5,8.8l0,0  c0.3-0.3,0.9-0.3,1.2,0l0,0c0.3,0.3,0.3,0.9,0,1.2L15.6,21.2z"/></svg>');
    option{
        background-color: $night-grey;
        border:none;
    }
}

.custom-control-label{
    cursor: pointer;
}

form{margin: 0;}