.header{
    position: relative;
    z-index: 100;
    .btn-menu{
        background-color: transparent;
        padding: 0;
        color: $light-grey;
        font-size: 20px;
        &:hover{
            color: $white;
        }
    }
    .main-menu-wrapper{
        margin: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        padding: 30px 147px;
        .menu-home{display: none;}
        li{
            padding: 0 43px;
        }
        @media screen and (max-width: 1370px){
            padding: 30px 147px;
            padding: 30px 15px;
            li{
                padding: 0 15px;
            }
        }
        @media screen and (max-width: 1050px){
            padding: 15px 0;
        }
    }
    .menu{
        font-size: 16px;
        a:hover{
            color: $white;
        }
    }
    .locale-wrapper{
        position: relative;
        i{
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 18px;
            pointer-events: none;
        }
        .select-locale{
            background-color: transparent;
            color: $white;
            border:none;
            padding-left: 30px;
            cursor: pointer;
        }
    }
    &.fixed-header{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $blue-night;
        -webkit-box-shadow: -2px 37px 52px 22px rgba(3,6,15,1);
        -moz-box-shadow: -2px 37px 52px 22px rgba(3,6,15,1);
        box-shadow: -2px 37px 52px 22px rgba(3,6,15,1);
        @media screen and (max-width: 1050px){
            padding: 0;
        }
        .menu{padding-left: 15px;}
        .logo{
            width: 163px;
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translate(-50%, 0);
            @media screen and (max-width: 1050px){
                width: 112px;
                top: 15px;
            }
        }
        .orn-bar{
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .main-menu-wrapper{
            position: static;
            padding: 33px 0;
            @media screen and (max-width: 1050px){
                padding: 10px 0 18px 0;
            }
            li{
                padding: 0 20px;
                a{
                    display: inline-flex;
                    position: relative;
                    &:before{
                        content: ' ';
                        position: absolute;
                        display: block;
                        left: 0;
                        bottom: -10px;
                        width: 100%;
                        height: 1px;
                        background-color: $ruby-dragon;
                        opacity: 0;
                        transition: all 0.3s ease;
                    }
                    &.active{
                        &:before{
                            opacity: 1;
                        }
                    }
                }
            }
            .menu-home{display: flex;}
            .menu-features{
                padding-right: 80px;
            }
            .menu-screenshots{padding-left: 80px;}
        }
    }
}

.modal-menu{
    .pop-up-content{
        background-color: $blue-night;
        width: 100%;
        height: 100%;
        padding-top: 30px;
        color: $light-grey;
        & > .btn-close-modal{
            font-size: 22px;
            padding: 0;
            background-color: transparent;
            margin-bottom: 10px;
            color: $light-grey;
            &:hover{
                color: $white;
            }
        }
        .orn-bar{margin-bottom: 40px;}
        .modal-menu-wrapper{
            li{
                text-transform: uppercase;
                margin-bottom: 40px;
                font: 16px 'font-regular';
            }
        }
    }
}