.new-car-info{
    @media screen and (max-width: 992px){
        .car-text{
            order: -1;
        }
    }
}

.new-car-cta{
    background: url('../img/novos/novos-interna-bg.jpg') no-repeat;
    background-size: cover;
}

.tech-sheet-tabs{
    position: relative;
    .version{
        padding: 0 30px 20px 30px;
        border: solid 1px $grey-2;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
    }
    .swiper-slide-thumb-active{
        .version{
            border: solid 2px $blue-1;
        }
    }
    @media screen and (max-width: 992px){
        padding: 0 35px;
    }
}

.accordion{
    border-bottom: solid 1px $grey-2;
    .title{
        padding: 10px;
        i{
            margin-left: 5px;
            transition: all 0.3s ease;
            display: inline-flex;
        }
        &.active{
            i{
                transform: rotate(180deg);
            }
        }
    }
    li{
        border: solid 1px $grey-2;
        border-bottom: none;
        padding: 8px 20px;
        &:nth-child(odd){
            text-align: right;
            border-right: none;
        }
        @media screen and (max-width: 992px){
            font-size: 11px;
            padding: 6px 10px;
        }
    }
}