<section class="content-section blog-section container-fluid" id="blog">
    <div class="row orn-bar">
        <div class="col-12 text-center color-white p-0">
            <p class="section-number font-regular">1v</p>
            <span class="section-dot"></span>
            <img src="{{ 'assets/images/orns/orn-section.svg'|theme }}" alt="logo-ornament">
            <h1 class="section-title text-uppercase">Blog</h1>
            <span class="section-line"></span>
        </div>        
    </div>

    <div class="row">
        <div class="col-12">
            <p class="color-white bold font-30 mb-30 text-center">
                {{ 'Coming soon!'|_ }}
            </p>
        </div>        
    </div>
</section>