<section class="content-section contact-section container-fluid" id="contact">
    <div class="row orn-bar">
        <div class="col-12 text-center color-white p-0">
            <p class="section-number font-regular">v</p>
            <span class="section-dot"></span>
            <img src="{{ 'assets/images/orns/orn-section.svg'|theme }}" alt="logo-ornament">
            <h1 class="section-title text-uppercase">{{ 'Contact'|_ }}</h1>
            <span class="section-line"></span>
        </div>        
    </div>

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>
                        {{ "Reach us, we love to make new friends"|_ }}
                    </p>
                    <p class="mb-30">publicidadeba@gmail.com</p>
                </div>
            </div>  
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    {% component 'contactForm' %}
                </div>
            </div>            
        </div>     
    </div>
</section>