[localePicker]
forceUrl = 0

[builderList]
modelClass = "Elderand\LandingPage\Models\Menu"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsKeyColumn = "link"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set menuItems = builderList.records %}

{% component 'localePicker' %}
<!-- Nav -->
<section class="container-fluid">
    <nav class="container">
        <ul class="record-list">
            {% for menuItem in menuItems %}
                <li>
                    <a href="{{ 'home'|page }}{{ menuItem.link }}">
                        {{ menuItem.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>  
    </nav>
</section>
