description = "Default layout"

[localePicker]
forceUrl = 1

[alternateHrefLangElements]

[Agent]
==
{% component 'alternateHrefLangElements' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Elderand - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Douglas Fortunato">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:image" content="{{ 'assets/images/promo.png'|theme }}">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1024">
        <meta property="og:image:height" content="576">
        <meta property="og:type" content="website">

        <link rel="icon" type="image/x-icon" href="{{ 'assets/images/favicon.ico'|theme }}?v=0.1">
        <link href="{{ 'assets/css/style.min.css'|theme }}?v={{ random() }}" rel="stylesheet">
        {% styles %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176564639-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-176564639-1');
        </script>

    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            {% partial 'header' %}
        </header>

        <!-- Content -->
        <main>
            {% page %}
        </main>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'footer' %}
        </footer>

        <!-- Scripts -->
        <script src="{{ 'assets/js/main.min.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>